body {
    white-space: nowrap;
}

.right {
    display: inline-block;
    width: 50%;
    white-space: normal;
}

.pic {
    width: 40%;
}

.title {
    color: darkblue;
}

.line {
    border-color: orange;
}

.in {
    width: 100px;
}

.txt {
    width: 250px;
    height: 60px;
}

.btn {
    padding: 2px 10px;
}